html {
    background-color: #fff;
}

body {
    /* Global font settings */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    font-family: 'Brawler', serif;
    font-size: 16px;
    color: #444;

    background-color: #fff;

    width: 75%;

    padding: 15px;
    margin: auto;
}

#content {
    margin-left: 7em;
    margin-right: 7em;
}
#content p {
    padding: 14px 14px;
}

#topic li {
    float: left;
    display: block;
    margin-top: -.6em;
    margin-bottom: -2em;
}

#topic li.plaintext {
    font-size: 24px;
}

#topic li.phonetic {
    float: right;
    font-size: 16px;
    padding-top: 12px;
    font-style: italic;
    color: #777;
}

#topic li p {
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none
}

 hr.divider {
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
     border: none;

     height: 1px;

     margin-top: 1.2em;
     margin-bottom: .3em;

     text-align: center;
}

hr.divider:after {
    background: white;

    content: "§";
    font-size: 1.5em;

    display: inline-block;
    position: relative;
    top: -0.7em;

    padding: 0 0.25em;

}

ul.nav li {
   float: left;
}

ul.nav li a {
   display: block;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   color: #777;

   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

ul.nav li a:hover {
   color: #444;
}

ul.nav {
    margin-left: 7em;
    margin-right: 7em;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
